/SportsAcademy/nbproject/private/
/SportsAcademy/build/
/SportsAcademy/dist/
/TransportManagementSystem/nbproject/private/
/TransportManagementSystem/build/
/TransportManagementSystem/dist/
/Encapsulation/nbproject/private/
/Encapsulation/build/
/Encapsulation/dist/
/JavaCourse/nbproject/private/
/JavaCourse/build/
/JavaCourse/dist/
/JavaCourseUsingArray/nbproject/private/
/JavaCourseUsingArray/build/
/ArrayList/nbproject/private/
/LinkedListSinguly/nbproject/private/
/LinkedListSinguly/build/
/LinkedListSinguly/dist/
/SinglyList/nbproject/private/
/SinglyList/build/
/SinglyList/dist/
/EMSMain/nbproject/private/
/GymMembershipMeanagementSystemMain/nbproject/private/
/GymMembershipMeanagementSystemMain/build/
/GymMembershipMeanagementSystemMain/dist/
/BuildingConstructionManagementSystem/nbproject/private/
/BuildingConstructionManagementSystem/dist/
/BuildingConstructionManagementSystem/build/
