/SportsAcademy/nbproject/private/
/SportsAcademy/build/
/SportsAcademy/dist/
/TransportManagementSystem/nbproject/private/
/TransportManagementSystem/build/
/TransportManagementSystem/dist/
/Encapsulation/nbproject/private/
/Encapsulation/build/
/Encapsulation/dist/
/JavaCourse/nbproject/private/
/JavaCourse/build/
/JavaCourse/dist/
